repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: bash -c "source .venv/bin/activate && mypy ."
        language: system
        pass_filenames: false
      - id: pytest
        name: pytest
        entry: bash -c "source .venv/bin/activate && pytest"
        language: system
        pass_filenames: false
